*{
    cursor: crosshair;
}

body{

    
    overflow: hidden;
    display: flex;
    place-content: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.login{

    padding: min(1.5rem,10%);
    text-align: center;
    margin-top: 200px;
    height: 250px;
    width: 300px;
    background-color: rgba(24, 65, 65, 0);
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgb(0, 255, 255);
}
.form{
    color: aliceblue;
    border: 2px solid rgba(0, 255, 255, 0.689);
    border-radius: 1rem;
    padding: min(1.2rem,8%);
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-evenly;
    gap:20px;
    align-items: center;
    text-align: center;
}

.in{
    height: 40px;
    width: 200px;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom:2px solid rgba(0, 255, 255, 0.386);
    font-size: larger;
}
.in:focus{
    outline: none;
}
.button{

    place-content: center;
    text-align: center;
    align-items: center;
    padding: 2px;
    height: 40px;
    font-size: 22px;
    border-radius: 1rem;
    width: 100px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: transparent;
    border:2px solid rgba(0, 255, 255, 0.491);
    

}
.button:hover{
    background-color: aliceblue;
    color: black;
    transition:all 1s;
}

.chat{
    justify-content: space-evenly;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid cyan;
    height: 98dvh;
    width: 100dvw;
}
.upper::-webkit-scrollbar{
    display: none;
}
.upper{
    gap: 4dvh;
    display: grid;
    height: 85dvh;
    place-content: center;
    align-items: center;    
}
.lower{
    border-top: 2px solid cyan;
    

    display: flex;
    padding: 1rem;
    place-content: center;
    align-items: center;
    height: 10dvh;
}
.lf{
    text-align: center;
    padding: 1rem;
    height:5dvh;
    width:96%;
    gap:10px;
    place-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.type{
    
    background-color: transparent;
    border: none;
    border: 2px solid cyan;
    color: white;
    font-size: x-large;
    width: 70dvw;
    height: 7dvh;
    border-radius: 1rem;
}
.type:focus{
    outline: none;
}

.send{
    height: 7dvh;
    width: 10dvh;
    background-color: transparent;
    border: 2px solid #00ff00;
    color:white;
    place-content: center;
    align-items: center;
    text-align: center;
    border-radius:5rem;
}
.m::-webkit-scrollbar{
    display: none;
}
.m{
    display: flex;
    flex-direction: column;
   
    
    font-size: x-large;
    height: 80dvh;
    width: 80dvw;
    overflow: scroll;
    gap: 10px;
    border-radius: 1.2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
}
.us{
    display: flex;
    border-radius: 1.2rem;
    gap: 10px;
    position: relative;
    border: 2px solid cyan;
    padding: 1rem;
}
.usconnect{
    display: flex;
    gap: 10px;
    position: relative;
    padding: 1rem;
    border: none;
    place-content: center;
    font-size: medium;
}
.un{
    margin: 0;
}
.ut{
    padding: 10px;
}
@media(max-width:700px){
    body{
        background-color: black;
    }
    .login{
        margin-top: 100px;
        height: 250px;
        width: 280px;
        background-color: rgb(0, 0, 0);

    }
    .lf{
        width:85%;
    }
}