<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatanywhere</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login">
        <form class="form" action="/" method="POST">
            <h1>WELCOME</h1>
            <input class="in" placeholder="ENTER USER NAME" id="in" name="username">
            <button class="button">ENTER</button>
        
        </form>


    </div>
</body>
</html>